.bg-green{
    background-color: rgb(127, 227, 255);
}
.blue{
    color: blue 
}
body {
    font-family: sans-serif;
}

footer {
    height: 100px;
    background-color: lightblue;
    font-size: 1.5rem;
}